@import url(produtos.css);

.banner {
	width:100%;
}

.titulo-principal

#missao {
	font-size: 20px;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.imagembeneficios {
	width: 60%;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}
